Flask==3.0.0
flask-cors==6.0.2
Flask-Session==0.8.0

gunicorn==23.0.0

numpy==2.4.3
pandas==2.3.3

pyswisseph==2.10.3.2
geopy==2.4.1
timezonefinder==8.2.2

python-dateutil==2.9.0.post0
pytz==2026.1.post1

requests==2.32.5
Werkzeug==3.1.6
Jinja2==3.1.6