<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Planetary Positions</title>
<link rel="stylesheet" href="/static/table.css">
</head>

<body>

<div class="page">

  <h2>Planetary Positions</h2>

  <table class="kp-table">
    <thead>
      <tr>
        <th>Pla</th>
        <th>Sign</th>
        <th>Degree</th>
        <th>Sign Lord</th>
        <th>Nak</th>
        <th>Sub</th>
        <th>S.Sub</th>
      </tr>
    </thead>

    <tbody id="planetTable"></tbody>
  </table>

</div>

<script src="/static/planetary.js"></script>

</body>
</html>